<table>
	<thead>
		<th>column1</th>
		<th>column2</th>
	</thead>
    <tbody>
      <% 5.times do |i| %>
        <tr>
          <td><%= i %></td>
          <td><%= "test" %></td>
        </tr>
      <%end%>
    </tbody>
</table>